* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

html, body {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #faf9f8;
    font-family: "Roboto", "Ebrima", "Nirmala UI", "Gadugi", "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math", serif;
}

.content-wrapper {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: #004e8c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    font-weight: lighter;
    margin-bottom: 50px;
    flex-shrink: 0;
    flex-wrap: wrap;
}


.header .contacts {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 11px;
    line-height: 16px;
}

.header .contacts li {
    padding-left: 40px;
    color: #e0e0e0;
}

.header .contacts li span, a {
    text-decoration: none;
    color: white;
}

.header .contacts li span:after {
    content: "";
    color: white;
    padding-right: 10px;
}

.header .contacts li a:hover {
    text-decoration: none;
    color: #c3deff;
}

.header .person-name .name {
    font-size: 18px;
}

.header .person-name .sub-name {
    font-size: 12px;
    color: #e0e0e0;
}

@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
        padding: 10px 10px 10px 10px;
        justify-content: space-around;
    }

    .header .contacts {
        display: block;
    }

    .header .contacts li {
        padding-left: 0;
    }
}

.content {
    background-color: #605e5c;
    max-width: 500px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 40px;
    color: #484644;
    background-color: white;
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, .132), 0 1.2px 3.6px 0 rgba(0, 0, 0, .108);
}

.group {
    display: flex;
    flex-direction: column;
    padding-bottom: 2px;
}

.form h3 {
    margin-top: 10px;
}

.form__social {
    padding: 0;
    height: 6vh;
}

.form__social ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0 60px 10px 60px;
    padding-inline-start: 0;
    font-size: 30px;
}

.form__social ul li {
    padding-left: 5px;
    padding-right: 5px;
}

.form__social ul li:hover {
    cursor: pointer;
    color: #0074cf;
}

.form__reg {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.form__reg label {
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: lighter;
}

.form__reg input {
    border: 1px solid rgb(96, 94, 92);
    border-radius: 2px;
    height: 30px;
}

.form__reg label:after {
    content: "*";
    color: #a80000;
    position: absolute;
    margin-top: 2px;
    margin-left: 3px;
}

.form__reg span {
    position: relative;
    font-size: 11px;
    color: #a80000;
    height: 20px;

}

.form__reg .invalid {
    border: 1px solid #d83b01 !important;
    border-radius: 2px;
}

.form__reg--submit {
    display: flex;
    justify-content: end;
}

.form__reg--mock {
    margin: auto 20px auto auto;
    font-weight: lighter;
}

.form__reg--mock a {
    color: #0074cf;
    text-decoration: none;

}

.form__reg--mock a:hover {
    color: #0074cf;
    text-decoration: underline;
    transition: 1s;
}

.form__reg--register-btn {
    outline: none;
    font-size: 14px;
    display: block;
    cursor: pointer;
    border: 1px solid #004e8c;
    background-color: #004e8c;
    color: white;
    padding: 10px 10px 10px;
    max-height: 38px;
    min-height: 38px;
    line-height: 0;
    max-width: 80px;
}

.form__reg--register-btn:hover {
    cursor: pointer;
    border: 1px solid #0074cf;
    background-color: #0074cf;
    box-shadow: 0 2px 4px rgba(0, 78, 140, 0.3);
    transition: 0.2s;
}

.form__reg--register-btn:disabled {
    border: 1px solid #7e7e7e;
    background-color: #7e7e7e;
    cursor: not-allowed;
    color: #e5e5e5;
    box-shadow: 0 2px 4px rgba(0, 78, 140, 0.1);
}

.form__reg--required-hint {
    margin: 0 0 25px auto;
}

.tooltip-wrapper {
    position: relative;
}

.tooltip-wrapper .tooltip-content {
    color: black;
    display: none;
    position: absolute;
    z-index: 10;
    left: 10px;
    top: 10px;
    background-color: rgba(255, 255, 255, 0.92);
    border: 1px solid rgba(166, 166, 166, 0.92);
    border-radius: 2px;
    box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, .132), 0 0.6px 1.8px 0 rgba(0, 0, 0, .108);
    width: 200px;
    padding: 5px;
}

.tooltip-wrapper:hover .tooltip-content {
    display: block;
    transition: 1s;
}


@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
        padding: 10px 10px 10px 10px;
        justify-content: space-around;
    }

    .header .contacts {
        display: block;
    }

    .header .contacts li {
        padding-left: 0;
    }

    .form__reg--mock {
        margin: 20px;
        font-weight: lighter;
    }

    .form__reg--submit {
        margin: 20px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }


}
